.App {
  text-align: center;
  background-color: black;
  height :900px;
  width: auto;
}

.flex-item{
  display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    padding-top: 10px;
}
.mode-change{
  color: white;
  margin: 4px;
}
